.card {
  width: 250px;
  height: 250px;
  padding: 1rem;
  background-color: pink;
  color: #333;
  text-align: justify;

  overflow: hidden;
  /* overflow: auto; */
  /* overflow-y: scroll; */

  overflow-wrap: break-word;
}
