.flexContainer {
  display: flex;
  /* width: 30rem; */
  height: 20rem;
  background-color: blanchedalmond;

  /* align-items: flex-start; */
  align-items: center;
}

.box1 {
  background-color: aqua;
  /* font-size: 2rem; */
  align-self: flex-end;
}
.box2 {
  background-color: crimson;
}
.box3 {
  background-color: chartreuse;
  align-self: center;
}
.box4 {
  background-color: blueviolet;
  align-self: flex-end;
}
.box5 {
  background-color: deeppink;
}
